<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/template.xhtml">

        <ui:define name="conteudo">
            <h:panelGroup rendered="#{fornecedorControle.layoutList}">
                <h:form>
                    <p:dataTable value="#{fornecedorControle.listar}"
                                 var="item"
                                 paginator="true" rows="10"
                                 paginatorPosition="bottom"
                                 emptyMessage="Fornecedores não encontrados"
                                 selectionMode="single"
                                 selection="#{fornecedorControle.entidade}"
                                 rowKey="#{item.id}">
                        <p:column headerText="ID">
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column headerText="Nome">
                            <h:outputText value="#{item.pessoaJuridica.nome}"/>
                        </p:column>
                        <p:column headerText="CNPJ">
                            <h:outputText value="#{item.pessoaJuridica.cnpj}"/>
                        </p:column>
                        <p:column headerText="Fone">
                            <h:outputText value="#{item.pessoaJuridica.fone}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton value="Novo"
                                             actionListener="#{fornecedorControle.novo()}"
                                             ajax="false"/>
                            <p:commandButton value="Alterar"
                                             actionListener="#{fornecedorControle.alterar()}"
                                             ajax="false"/>
                            <p:commandButton value="Excluir"
                                             action="#{fornecedorControle.excluir()}"
                                             ajax="false"/>
                        </f:facet>
                    </p:dataTable>

                </h:form>
            </h:panelGroup>
            <ui:include src="form.xhtml"/>
        </ui:define>

    </ui:composition>
</html>
