<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGroup rendered="#{produtoControle.layoutForm}">
        <h:form>
            <p:panel header="Cadastro de produto">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Nome:" for="nome"/>
                    <p:inputText value="#{produtoControle.entidade.nome}"
                                 id="nome"
                                 required="true" 
                                 requiredMessage="O nome é obrigatório"/>
                    
                    <p:outputLabel value="Código:" for="codigo"/>
                    <p:inputText value="#{produtoControle.entidade.codigo}"
                                 id="codigo"/>
                    
                    <p:outputLabel value="NCM:" for="ncm"/>
                    <p:inputText value="#{produtoControle.entidade.ncm}"
                                 id="ncm"/>
                    
                    <p:outputLabel value="Preço de custo:" for="custo"/>
                    <p:inputText value="#{produtoControle.entidade.precoCusto}"
                                 id="custo">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>
                    
                    <p:outputLabel value="Preço de venda:" for="venda"/>
                    <p:inputText value="#{produtoControle.entidade.precoVenda}"
                                 id="venda">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>
                    
                    <p:outputLabel value="Estoque inicial:" for="estoque"/>
                    <p:inputText value="#{produtoControle.entidade.estoque}"
                                 id="estoque"
                                 disabled="#{produtoControle.entidade.id!=null}">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>
                    
                    <p:outputLabel value="Produto ativo:" for="ativo"/>
                    <p:selectBooleanCheckbox value="#{produtoControle.entidade.ativo}"
                                             id="ativo"/>
                </h:panelGrid>
                <f:facet name="footer">
                    <p:commandButton value="Salvar" 
                                     action="#{produtoControle.salvar()}"
                                     ajax="false"/>
                    <p:commandButton value="Voltar"
                                     action="list?faces-redirect=true"
                                     ajax="false" immediate="true"/>
                </f:facet>
            </p:panel>
            
        </h:form>
    </h:panelGroup>


</html>
