<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>

        <title>ACESSO AO SISTEMA</title>
    </h:head>

    <h:body>
        <p:growl id="growl" autoUpdate="true" showDetail="true" sticky="true" />
        <h:form>
            <p:panel header="ACESSO AO SISTEMA">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Login" for="login"/>
                    <p:inputText id="login" value="#{loginControle.login}" required="true" requiredMessage="O campo login é obrigatório"/>
                    <p:outputLabel value="Senha" for="senha"/>
                    <p:password id="senha" value="#{loginControle.senha}" required="true" requiredMessage="O campo senha é obrigatório"/>
                </h:panelGrid>
                <f:facet name="footer">
                    <p:commandButton value="Login" action="#{loginControle.login()}" ajax="false"/>
                </f:facet>
            </p:panel>
        </h:form>
    </h:body>

</html>
