<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>UNIPAR</title>
        <meta name="viewport" 
              content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>

        <p:growl id="growl" autoUpdate="true" showDetail="true" sticky="true" />

        <h:form>
            <p:menubar>
                <p:submenu label="Cadastros">
                    <p:menuitem value="Cliente"
                                url="/app/cliente/list.xhtml"/>
                    <p:menuitem value="Fornecedor"
                                url="/app/fornecedor/list.xhtml"/>
                    <p:menuitem value="Produtos"
                                url="/app/produto/list.xhtml"/>
                    <p:menuitem value="Usuário"
                                url="/app/usuario/list.xhtml"/>
                </p:submenu>
                <p:submenu label="Movimentos">
                    <p:menuitem value="Venda"
                                url="/app/venda/list.xhtml"/>                    
                </p:submenu>
                <p:submenu label="Relatórios">
                    <p:menuitem value="Venda"
                                url="/app/relatorioVenda/form.xhtml"/>                    
                    <p:menuitem value="Venda modal"
                                onclick="PF('relVendas').show()"/>                    
                </p:submenu>
                <p:menuitem value="Logoff" action="#{loginControle.logoff()}"/>
            </p:menubar>
        </h:form>
        <p:panel>

            <ui:insert name="conteudo"/>

            <f:facet name="footer">
                <div style="width: 215px; margin: 0 auto;">
                    <h:outputText value="Curso 2017 - JSF UNIPAR"/>
                </div>
            </f:facet>
        </p:panel>

        <p:dialog header="Relatório de vendas" widgetVar="relVendas" modal="true">
            <h:form>
                <p:panel>
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Cliente:" for="cliente"/>
                        <p:autoComplete id="cliente"
                                        completeMethod="#{clienteControle.clienteLikeNome}"
                                        value="#{relatorioControle.cliente}"
                                        converter="#{clienteControle.converter()}"
                                        var="cli"
                                        itemLabel="#{cli.pessoa.nome}"
                                        itemValue="#{cli}"/>

                        <p:outputLabel for="dtInicio" value="Data inicio:"/>
                        <p:calendar id="dtInicio" pattern="dd/MM/yyyy" value="#{relatorioControle.dataInicio}"
                                    required="true" requiredMessage="O campo data inicio é obrigatório"/>

                        <p:outputLabel for="dtFim" value="Data fim:"/>
                        <p:calendar id="dtFim" pattern="dd/MM/yyyy" value="#{relatorioControle.dataFim}"
                                    required="true" requiredMessage="O campo data fim é obrigatório"/>
                    </h:panelGrid>
                    <f:facet name="footer">
                        <p:commandButton value="Gerar relatório" 
                                         action="#{relatorioControle.gerarRelatorioVendas()}"
                                         ajax="false"
                                         onclick="this.form.target = '_blank'"/>
                    </f:facet>
                </p:panel>

            </h:form>
        </p:dialog>
    </h:body>
</html>
